.logo__navbar{
  max-width: auto;
  max-height: 10vw;
}
.img__header--jumbotron{
  background-image: url(../images/background_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.titulo__header--jumbotron{
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  background-color: grey;
}
.titular__nosotros{
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
}
.subtitulo__nosotros{
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  text-align: justify;
}
.titular__servicios{
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
}
.titular__contactanos{
 text-align: center;
}
.titular__siguenos{
  text-align: center;
}
.fa-facebook-f{
  color: #3b5998;
}
.fa-twitter{
  color:  #1DA1F2;
}
.fa-instagram{
  color:  #000000;
}
.titular__servicios{
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
}

/* Sección Contacto */

label {
  width: 200px;
  display: block;
}
input, textarea {
  height: 100px;
  width: 500px;
   margin: 5px 0;
  border: 2px solid #CCC;
}

@media only screen and (max-width: 700px){
input, textarea {
        width: 100%;
}

/* Efecto en imagenes  */

#myImg1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg1:hover {opacity: 0.7;}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
}
}