.logo__navbar{
  max-width: auto;
  max-height: 10vw;
}
.img__header--jumbotron{
  background-image: url(../images/background_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.titulo__header--jumbotron{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background-color: grey;
}
.titular__nosotros{
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.subtitulo__nosotros{
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
}
.titular__servicios{
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.redes__sociales{
  text-align: center;
}
.fa-facebook-f{
  color: #3b5998;
}
.fa-twitter{
  color:  #1DA1F2;
}


label {
  width: 200px;
  display: block;
}
input, textarea {
  width: 200px;
  margin: 5px 0;
  border: 1px solid #CCC;
}
