.logo__navbar{
  max-width: auto;
  max-height: 10vw;
}
.img__header--jumbotron{
  background-image: url(../images/background_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
label {
  width: 200px;
  display: block;
}
input, textarea {
  width: 200px;
  margin: 5px 0;
  border: 1px solid #CCC;
}